In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

data = pd.read_csv('PartD_Prescriber_PUF_NPI_17.txt', sep='\t')

In [2]:
data.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598
3,1003000175,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.5148

In [3]:
data.isnull().sum()

npi                                    0
nppes_provider_last_org_name          34
nppes_provider_first_name             22
nppes_provider_mi                 361527
nppes_credentials                  70738
                                   ...
beneficiary_race_nat_ind_count    320905
beneficiary_race_other_count      816557
beneficiary_nondual_count         479273
beneficiary_dual_count            479273
beneficiary_average_risk_score    131840
Length: 84, dtype: int64

In [4]:
data.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip5', 'nppes_provider_zip4',
       'nppes_provider_state', 'nppes_provider_country',
       'specialty_description', 'description_flag',
       'medicare_prvdr_enroll_status', 'total_claim_count',
       'total_30_day_fill_count', 'total_drug_cost', 'total_day_supply',
       'bene_count', 'ge65_suppress_flag', 'total_claim_count_ge65',
       'total_30_day_fill_count_ge65', 'total_drug_cost_ge65',
       'total_day_supply_ge65', 'bene_count_ge65_suppress_flag',
       'bene_count_ge65', 'brand_suppress_flag', 'brand_claim_count',
       'brand_drug_cost', 'generic_suppress_flag', 'generic_claim_count',
       'generic_drug_cost', 'other_suppress_flag', 'other_claim_count',
       'other_drug_cost', 'mapd_suppress_flag', 'mapd_claim_count',
       'mapd_drug_cost', 'pdp_suppress_flag', 'pdp_claim_count',
       'pdp_drug_cost', 'lis_suppress_flag', 'lis_claim_count',
       'lis_drug_cost', 'nonlis_suppress_flag', 'nonlis_claim_count',
       'nonlis_drug_cost', 'opioid_claim_count', 'opioid_drug_cost',
       'opioid_day_supply', 'opioid_bene_count', 'opioid_prescriber_rate',
       'la_opioid_claim_count', 'la_opioid_drug_cost', 'la_opioid_day_supply',
       'la_opioid_bene_count', 'la_opioid_prescriber_rate',
       'antibiotic_claim_count', 'antibiotic_drug_cost',
       'antibiotic_bene_count', 'antipsych_ge65_suppress_flag',
       'antipsych_claim_count_ge65', 'antipsych_drug_cost_ge65',
       'antipsych_bene_ge65_suppress_flg', 'antipsych_bene_count_ge65',
       'average_age_of_beneficiaries', 'beneficiary_age_less_65_count',
       'beneficiary_age_65_74_count', 'beneficiary_age_75_84_count',
       'beneficiary_age_greater_84_count', 'beneficiary_female_count',
       'beneficiary_male_count', 'beneficiary_race_white_count',
       'beneficiary_race_black_count', 'beneficiary_race_asian_pi_count',
       'beneficiary_race_hispanic_count', 'beneficiary_race_nat_ind_count',
       'beneficiary_race_other_count', 'beneficiary_nondual_count',
       'beneficiary_dual_count', 'beneficiary_average_risk_score'],
      dtype='object')

# Q1

In [5]:
data.bene_count.mean()

158.3494585173676

In [6]:
data.isnull().sum()['total_claim_count']

0

In [7]:
data.npi.nunique() == len(data)

True

# Q2

In [8]:
total_claim_count = np.array(data.total_claim_count.values)
print(np.nanmean(total_claim_count))

1284.9854484228194

In [9]:
total_day_supply = np.array(data.total_day_supply.values)
print(np.nanmean(total_day_supply))

55492.33948549228

In [10]:
len_prescrip = []
for x, y in zip(total_claim_count, total_day_supply):
    len_prescrip.append(y/x)

In [11]:
print(np.median(len_prescrip))

29.7125748502994

# Q3

In [12]:
brand_claim_count = data.brand_claim_count
generic_claim_count = data.generic_claim_count
other_claim_count = data.other_claim_count
data.specialty_description.isnull().sum()

0

In [13]:
data.specialty_description.nunique()

214

In [14]:
data.groupby('specialty_description')['brand_claim_count'].sum()

specialty_description
Acupuncturist                                           626.0
Addiction Medicine                                    44917.0
Adult Companion                                           0.0
Advanced Heart Failure and Transplant Cardiology        803.0
Advanced Practice Dental Therapist                        0.0
                                                      ...
Unknown Supplier/Provider Specialty                     265.0
Urology                                             1089548.0
Vascular Surgery                                      64906.0
Veterinarian                                              0.0
Voluntary Health or Charitable Agency                     0.0
Name: brand_claim_count, Length: 214, dtype: float64

In [15]:
specialty_grouped = data.groupby('specialty_description').agg({'brand_claim_count':'sum','generic_claim_count':'sum',
                                           'other_claim_count':'sum','bene_count':'sum'}).reset_index()
specialty_grouped.head()

,specialty_description,brand_claim_count,generic_claim_count,other_claim_count,bene_count
0,Acupuncturist,626.0,4090.0,11.0,1322.0
1,Addiction Medicine,44917.0,168588.0,786.0,18551.0
2,Adult Companion,0.0,326.0,0.0,90.0
3,Advanced Heart Failure and Transplant Cardiology,803.0,4474.0,22.0,1536.0
4,Advanced Practice Dental Therapist,0.0,59.0,0.0,28.0

In [16]:
specialty_grouped.isnull().sum()

specialty_description    0
brand_claim_count        0
generic_claim_count      0
other_claim_count        0
bene_count               0
dtype: int64

In [17]:
specialty_included = specialty_grouped[specialty_grouped['bene_count'] > 1000].copy()
print(len(specialty_included))

100

In [18]:
specialty_included['percent_brand'] = specialty_included['brand_claim_count'] / (specialty_included.brand_claim_count+
                                                                                specialty_included.generic_claim_count
                                                                                +specialty_included.other_claim_count)
specialty_included.head()

,specialty_description,brand_claim_count,generic_claim_count,other_claim_count,bene_count,percent_brand
0,Acupuncturist,626.0,4090.0,11.0,1322.0,0.132431
1,Addiction Medicine,44917.0,168588.0,786.0,18551.0,0.209607
3,Advanced Heart Failure and Transplant Cardiology,803.0,4474.0,22.0,1536.0,0.151538
5,Allergy/ Immunology,883748.0,1845530.0,2806.0,473535.0,0.323470
7,Anesthesiology,503470.0,4583994.0,2123.0,691131.0,0.098922

In [19]:
print(np.std(specialty_included['percent_brand']))

0.09328211019021185

# Q4

In [20]:
opioid_bene_count = data.opioid_bene_count
antibiotic_bene_count = data.antibiotic_bene_count
data.opioid_bene_count.isnull().sum()

387434

In [21]:
drug_type_group = data.groupby('nppes_provider_state').agg({'opioid_bene_count':'sum','antibiotic_bene_count':'sum'})
drug_type_group.head()

                      opioid_bene_count  antibiotic_bene_count
nppes_provider_state
AA                                145.0                  496.0
AE                                982.0                 1986.0
AK                              20045.0                25223.0
AL                             539041.0               763225.0
AP                                688.0                 1627.0

In [22]:
drug_type_group.isnull().sum()

opioid_bene_count        0
antibiotic_bene_count    0
dtype: int64

In [23]:
drug_type_group['ratio'] = drug_type_group['opioid_bene_count'] / drug_type_group['antibiotic_bene_count']
drug_type_group.head()

                      opioid_bene_count  antibiotic_bene_count     ratio
nppes_provider_state
AA                                145.0                  496.0  0.292339
AE                                982.0                 1986.0  0.494461
AK                              20045.0                25223.0  0.794711
AL                             539041.0               763225.0  0.706267
AP                                688.0                 1627.0  0.422864

In [24]:
drug_type_group.nsmallest(10, 'ratio')

                      opioid_bene_count  antibiotic_bene_count     ratio
nppes_provider_state
MP                                 79.0                  362.0  0.218232
AA                                145.0                  496.0  0.292339
PR                             149199.0               497090.0  0.300145
VI                               1179.0                 3790.0  0.311082
GU                                683.0                 2191.0  0.311730
NY                             899751.0              2221673.0  0.404988
AP                                688.0                 1627.0  0.422864
NJ                             409489.0               964956.0  0.424360
HI                              52100.0               114654.0  0.454411
VT                              30361.0                65636.0  0.462566

In [25]:
print(max(drug_type_group['ratio']) - min(drug_type_group['ratio']))
print(max(drug_type_group['ratio']) - drug_type_group.loc['NY'].ratio)

0.6331097230267027
0.4463537244308209

# Q5

In [26]:
claim_split = data[['total_claim_count','total_claim_count_ge65','lis_claim_count']].copy()
print(len(claim_split))

1162898

In [27]:
claim_split.dropna(inplace=True)

In [28]:
claim_split['fraction_65'] = claim_split['total_claim_count_ge65'] / claim_split['total_claim_count']
claim_split['fraction_lis'] = claim_split['lis_claim_count'] / claim_split['total_claim_count']
claim_split.head()

,total_claim_count,total_claim_count_ge65,lis_claim_count,fraction_65,fraction_lis
0,677,516.0,305.0,0.762186,0.450517
1,1946,881.0,1184.0,0.452724,0.608428
4,90,65.0,73.0,0.722222,0.811111
5,2788,2700.0,1990.0,0.968436,0.713773
6,200,118.0,70.0,0.590000,0.350000

In [29]:
from scipy.stats import pearsonr
print(pearsonr(claim_split['fraction_65'], claim_split['fraction_lis']))

(-0.6389319595676839, 0.0)

# Q6

In [30]:
state_spec_split = data.groupby(['nppes_provider_state','specialty_description']).agg({'npi':'count',
                                                                                       'opioid_day_supply':'sum',
                                                                                       'opioid_claim_count':'sum'})
state_spec_split = state_spec_split[state_spec_split['npi'] > 100]

In [31]:
state_spec_split.dropna(inplace=True)
state_spec_split['average_pres_len'] = state_spec_split['opioid_day_supply'] / state_spec_split['opioid_claim_count']
state_spec_split

                                            npi  opioid_day_supply  \
nppes_provider_state specialty_description
AK                   Dentist                214             3636.0
                     Emergency Medicine     119             9269.0
                     Family Practice        458           539957.0
                     Internal Medicine      145           166433.0
                     Nurse Practitioner     379           312636.0
...                                         ...                ...
WY                   Dentist                233             3821.0
                     Family Practice        275           801537.0
                     Internal Medicine      116           305418.0
                     Nurse Practitioner     289           399267.0
                     Physician Assistant    208           332599.0

                                            opioid_claim_count  \
nppes_provider_state specialty_description
AK                   Dentist                            1158.0
                     Emergency Medicine                 2307.0
                     Family Practice                   21067.0
                     Internal Medicine                  7001.0
                     Nurse Practitioner                12978.0
...                                                        ...
WY                   Dentist                            1231.0
                     Family Practice                   34362.0
                     Internal Medicine                 12924.0
                     Nurse Practitioner                16647.0
                     Physician Assistant               15589.0

                                            average_pres_len
nppes_provider_state specialty_description
AK                   Dentist                        3.139896
                     Emergency Medicine             4.017772
                     Family Practice               25.630465
                     Internal Medicine             23.772747
                     Nurse Practitioner            24.089690
...                                                      ...
WY                   Dentist                        3.103981
                     Family Practice               23.326262
                     Internal Medicine             23.631848
                     Nurse Practitioner            23.984321
                     Physician Assistant           21.335493

[1312 rows x 4 columns]

In [32]:
print(max(state_spec_split['average_pres_len']))
print(np.mean(state_spec_split['average_pres_len']))
print(min(state_spec_split['average_pres_len']))
print(np.mean(state_spec_split['average_pres_len'])/min(state_spec_split['average_pres_len']))

32.57917240991308
16.784123458533866
1.3636363636363635
12.308357202924837

# Q7

In [33]:
data_2016 = pd.read_csv('PartD_Prescriber_PUF_NPI_16.txt', sep='\t')

In [34]:
data_2016.rename(columns={'npi':'npi2016'},inplace=True)
data_2016.head()

,npi2016,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,80.0,153.0,NaN,0.0,NaN,0.0,NaN,102.0,68.0,2.1950
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,88.0,159.0,54.0,NaN,NaN,0.0,NaN,108.0,117.0,1.8032
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,12.0,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0949
3,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,11.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,1.7014
4,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,64.0,NaN,NaN,0.0,0.0,0.0,NaN,129.0,61.0,1.9105

In [35]:
both_years = pd.merge(data_2016, data, left_on='npi2016', right_on='npi', suffixes=('_2016', '_2017'))
both_years.head()

,npi2016,nppes_provider_last_org_name_2016,nppes_provider_first_name_2016,nppes_provider_mi_2016,nppes_credentials_2016,nppes_provider_gender_2016,nppes_entity_code_2016,nppes_provider_street1_2016,nppes_provider_street2_2016,nppes_provider_city_2016,...,beneficiary_male_count_2017,beneficiary_race_white_count_2017,beneficiary_race_black_count_2017,beneficiary_race_asian_pi_count_2017,beneficiary_race_hispanic_count_2017,beneficiary_race_nat_ind_count_2017,beneficiary_race_other_count_2017,beneficiary_nondual_count_2017,beneficiary_dual_count_2017,beneficiary_average_risk_score_2017
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598
3,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.5148
4,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,31.0,117.0,0.0,0.0,0.0,0.0,0.0,71.0,46.0,1.8494

In [36]:
two_year_provider = both_years[['npi2016','total_drug_cost_2016','npi','total_drug_cost_2017']].copy()
two_year_provider.head()

      npi2016  total_drug_cost_2016         npi  total_drug_cost_2017
0  1003000126              33618.18  1003000126              32639.57
1  1003000142             139695.81  1003000142             140189.01
2  1003000167                267.81  1003000167                302.01
3  1003000282               4587.11  1003000282               7561.21
4  1003000407             112183.11  1003000407             108601.73

In [37]:
two_year_match = two_year_provider[two_year_provider['npi2016'] == two_year_provider['npi']]
print(len(two_year_match) == len(two_year_provider))

True

In [38]:
two_year_provider['cost/day_2016'] = two_year_provider['total_drug_cost_2016'] / 366
two_year_provider['cost/day_2017'] = two_year_provider['total_drug_cost_2017'] / 365
two_year_provider['inflation_rate'] = (((two_year_provider['cost/day_2017'] / two_year_provider['cost/day_2016']) *
                                        100)/100)

In [39]:
two_year_provider.head()

,npi2016,total_drug_cost_2016,npi,total_drug_cost_2017,cost/day_2016,cost/day_2017,inflation_rate
0,1003000126,33618.18,1003000126,32639.57,91.852951,89.423479,0.973550
1,1003000142,139695.81,1003000142,140189.01,381.682541,384.079479,1.006280
2,1003000167,267.81,1003000167,302.01,0.731721,0.827425,1.130792
3,1003000282,4587.11,1003000282,7561.21,12.533087,20.715644,1.652876
4,1003000407,112183.11,1003000407,108601.73,306.511230,297.538986,0.970728

In [40]:
two_year_provider['inflation_rate'].mean()

2.2902976158502297

# Q8

In [41]:
left_spec = data_2016.groupby(['specialty_description'])['npi2016'].count()
left_spec

specialty_description
Acupuncturist                                 86
Addiction Medicine                           217
Advanced Practice Dental Therapist             2
Allergy/ Immunology                         3600
Allergy/Immunology                           416
                                           ...
Unknown Supplier/Provider Specialty           10
Urology                                    10710
Vascular Surgery                            2966
Veterinarian                                   3
Voluntary Health or Charitable Agencies        1
Name: npi2016, Length: 223, dtype: int64

In [42]:
right_spec = data.groupby(['specialty_description'])['npi'].count()
right_spec

specialty_description
Acupuncturist                                          86
Addiction Medicine                                    268
Adult Companion                                         2
Advanced Heart Failure and Transplant Cardiology       24
Advanced Practice Dental Therapist                      3
                                                    ...
Unknown Supplier/Provider Specialty                     6
Urology                                             10707
Vascular Surgery                                     3056
Veterinarian                                            4
Voluntary Health or Charitable Agency                   1
Name: npi, Length: 214, dtype: int64

In [43]:
all_spec = pd.merge(left_spec, right_spec, how='outer', on='specialty_description')
# Fixed two naming errors, others ignored when dropping nans
all_spec.loc['Allergy/ Immunology','npi2016'] += all_spec.loc['Allergy/Immunology','npi2016']
all_spec.loc['Obstetrics & Gynecology','npi2016'] += all_spec.loc['Obstetrics/Gynecology','npi2016']
all_spec.dropna(inplace=True)
largest = all_spec[all_spec['npi2016'] > 1000].copy()

In [44]:
all_spec.to_excel('all.xlsx')

In [45]:
largest['difference'] = largest['npi2016'] - largest['npi']
largest['ratio'] = largest['difference']/largest['npi2016']

In [46]:
largest.nlargest(10, 'ratio')

                                      npi2016       npi  difference     ratio
specialty_description
Pathology                              1066.0     958.0       108.0  0.101313
Specialist                             3763.0    3456.0       307.0  0.081584
Cardiac Surgery                        1182.0    1096.0        86.0  0.072758
Pediatric Medicine                    11744.0   10950.0       794.0  0.067609
Diagnostic Radiology                   4421.0    4245.0       176.0  0.039810
General Practice                      10171.0    9923.0       248.0  0.024383
Internal Medicine                    133174.0  130302.0      2872.0  0.021566
Certified Clinical Nurse Specialist    2710.0    2652.0        58.0  0.021402
Anesthesiology                         7180.0    7057.0       123.0  0.017131
Maxillofacial Surgery                  1147.0    1139.0         8.0  0.006975